---
---

<div>
    <a href={`/`}>󰛁 Home</a>
</div>

<style>
    div {
        display: block;
        margin-bottom: 2em;
        min-width: 20rem;
    }

    a:hover {
        margin-bottom: -2px;
    }
</style>
