---
const { tags } = Astro.props
---

<nav>
    {tags.map((tag) => (
        <a href={`/tags/${tag}`}>{tag}</a>
    ))}
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-evenly;
        margin: 5em 0 5em 0;
    }

    a:hover {
        margin-bottom: -2px;
    }
</style>
